{% include base_path %}

{% assign teaser = site.teaser %}

<article>
  <div class="flex flex-column flex-row-ns">
    <div class="pv2 w-100 w-25-ns pr2-ns" style="
        background-image: url(/files/publications/teasers/{{post.filename}}.pdf);
        background-origin: content-box;
        background-size: 100% 100%;
        background-repeat: no-repeat"></div>
    <div class="pv2 w-100 w-75-ns pl2-ns">
      <p class="mt0 mb0 f5">
        <span class="f4 fw6">{{ post.title }}</span><br>
        {{ post.authors | replace: 'J. A. Lin' : '<span class="fw7">J. A. Lin</span>' | replace: '*' : '<sup style="z-index: -1"><strong>&#xFF0A;</strong></sup>'}}<br>
        <i>{{ post.venue }}</i>
      </p>
      <p class="mt2 mb0 f5">
        <a class="db ph0-l mid-gray dim"
          href="/files/publications/{{post.filename}}.pdf" target="_blank"
          style="text-decoration: none; display: inline">
          <i class="fa fa-fw fa-file-pdf"></i>PDF
        </a>
        <a class="db ph0-l mid-gray dim"
        href="/files/publications/bibtex/{{post.filename}}.txt" target="_blank"
        style="text-decoration: none; display: inline">
        <i class="fa fa-fw fa-book"></i>BibTeX
        </a>
        {% if post.code %}
          <a class="db ph0-l mid-gray dim"
          href="{{post.code}}" target="_blank"
          style="text-decoration: none; display: inline">
          <i class="fa fa-fw fa-folder-open"></i>Code
          </a>
        {% endif %}
        </p>
    </div>
  </div>
  <!-- </a> -->
</article>
